1+ year(s) of experience building in React, HTML, and CSS
Thorough understanding of code architecture, state management, testing, and deployment
Experience with UI design, cross-browser compatibility, mobile responsiveness, and accessibility
Passion for taking on new challenges, solving new problems, and reacting quickly to market changes and requirements
Ability to communicate clearly and professionally with team members and users
Ability to work in-office at our headquarters in Downtown Dallas
Bachelor’s Degree or higher